# Pandasの基本コマンド
- df.drop(labels=None, axis=0, index=None, columns=None)

In [1]:
import pandas as pd
import os

In [2]:
# pathの確認
path = '../src/titanic/test.csv'
os.path.exists(path)

False

### read_csv()

In [3]:
df = pd.read_csv(path)
len(df)

FileNotFoundError: [Errno 2] No such file or directory: '../src/titanic/test.csv'

In [5]:
df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

# uniqueを抽出する

In [12]:
df["Sex"].unique()

array(['male', 'female'], dtype=object)

# uniqueを頻出順に並べる

In [22]:
df["Sex"].value_counts()

male      266
female    152
Name: Sex, dtype: int64

In [15]:
df["Age"].nunique()

79